<a href="https://colab.research.google.com/github/MichalJagielo/Exercises-and-Practice-Python-GoogleColab/blob/main/19_cwiczeniaMJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
# [IN]: maximum(4, 2)
# [OUT]: 4
# [IN]: maximum(-4, 2)
# [OUT]: 2
def maximum(x, y):
  if x>y:
    print('max', x)
  elif x == y:
    print('equal')
  else:
    print('max', y)
if __name__ == '__main__':
  maximum(7,8)

max 8

In [50]:
# [IN]: maximum(4, 2, 1)
# [OUT]: 4
# [IN]: maximum(-3, 2, 5)
# [OUT]: 5
def maximum(x, y, z):
  if x>y and x>z:
    print('max x', x)
  elif x == y == z:
    print('equal xyz')
  elif y>z:
    print('max y', y)
  else:
    print('max z', z)
if __name__ == '__main__':
  maximum(4,2,3)

max x 4

In [ ]:
def multi():
  
  multi = ((-4, 6, 2))

In [82]:

def multi(x):
  out = 1
  for i in x:
    out = out*i
  return out
print(multi([5,2,3]))

30

In [123]:
# map_longest(['python', 'sql'])
# map_longest(['java', 'sql', 'r'])
def map_longest(words):
  lenght=[]
  for word in words:
    lenght.append(len(word))
  return max(lenght)
map_longest(['python', 'sql', 'pythonjestfajny'])

15

In [131]:
# filter_ge_6(['programowanie', 'python', 'java', 'sql'])
# ['programowanie', 'python']
def filter_ge_6(words):
  lenght=[]
  for word in words:
    if len(word) >= 6:
      lenght.append((word))
  return lenght
if __name__ == '__main__':
 x = filter_ge_6(['java', 'sql'])
 y = filter_ge_6(['programowanie', 'python', 'java', 'sql'])
print(x, y)

[] ['programowanie', 'python']

In [175]:
# factorial(6)
# 720
def factorial(n):
  silnia = 1
  for x in range(1, n+1):
    silnia = silnia*x
  x -= 1
  return silnia
factorial(6)

720

In [180]:
#count_str(['p', 2, 4.3, None])
def count_str(elements):
  flag = 0 
  for element in elements:
    if isinstance(element, str):
      flag += 1
  return flag
count_str(['p', 'gg',2, 4.3, None, 'ttt'])

3

In [187]:
#remove_duplicates([1, 5, 3, 2, 2, 4, 2, 4])
def remove_duplicates(numbers):
  lista = set()
  for number in numbers:
    lista.add(number)
  return list(lista)
#remove_duplicates([1, 1, 1, 1])
remove_duplicates([1, 5, 3, 2, 2, 4, 2, 4])

[1, 2, 3, 4, 5]

In [193]:
#is_distinct([1, 2, 3])
#is_distinct([1, 2, 3, 3])
def is_distinct(numbers):
  lista = set()
  for number in numbers:
    lista.add(number)
  if len(lista) == len(numbers):
    return True, 'unique' 
  else:
    return False, 'not unique'    
is_distinct([1, 2, 3])
#is_distinct([1, 2, 3, 3])

(True, 'unique')

In [212]:
def function(idx, l=[]):
  for i in range(idx):
    l.append(i ** 3)
  print(l)
function(3)
function(5, ['a', 'b', 'c'])
function(6)

[0, 1, 8]
['a', 'b', 'c', 0, 1, 8, 27, 64]
[0, 1, 8, 0, 1, 8, 27, 64, 125]

In [215]:
def function(*args, **kwargs):
    print(args, kwargs)
#function(3, 4)
#function(x=3, y=4)
function(1, 2, x=3, y=4)

(1, 2) {'x': 3, 'y': 4}

In [243]:
#is_palindrome('kajak')
def is_palindrome(word):
  x = word.replace(' ','').lower()
  print(x)
  y = x[::-1]
  print(y)
  if x in y: 
    print(True)
  else:
    print(False)
is_palindrome('kobyla nie ma maly bok')    
#is_palindrome('kobyla ma maly bok')

kobylaniemamalybok
kobylamameinalybok
False